In [2]:
# Exp No :2
#Aim: To Study basics of data frame.
#Name:Shrutika Mehare
#Roll No.:39
#Sec:B
#Subject:ET 1
#Date:07/08/2025

# Aim: To Study basics of data frame.

# Creating Series

In [3]:
import pandas as pd

In [2]:
Name=["Shrutika","Vedanti","Sakshi","Pranali","Himani"] 
Name

['Shrutika', 'Vedanti', 'Sakshi', 'Pranali', 'Himani']

In [4]:
#Creating Series
Roll_list=pd.Series(Name,index=[1,2,3,4,5])
print(Roll_list)

1    Shrutika
2     Vedanti
3      Sakshi
4     Pranali
5      Himani
dtype: object

# Creating Data Frame

In [5]:
import pandas as pd

In [6]:
#Creating Data Frame
df=pd.DataFrame([[10,12,14,16],[11,18,15,21],[12,13,14,15]],
columns=["CD","DBMS","DSS","CAO"])

In [7]:
df

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15

In [8]:
df.shape

(3, 4)

In [9]:
df.size

12

In [10]:
df.ndim

2

# Adding Record (Row) to the Data Frame

In [12]:
df2=pd.DataFrame([[5,6,7,8]],
columns=["CD","DBMS","DSS","CAO"])

In [15]:
df3=df.append(df2,ignore_index=True)

In [16]:
df3

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

# Adding Attribute (Columns) name DM

In [17]:
df3["DM"]=[12,15,16,14]

In [18]:
df3

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
1  11    18   15   21  15
2  12    13   14   15  16
3   5     6    7    8  14

# Deleting Record from df3 DataFrame

In [34]:
df4=df3. drop(index=[1])

In [35]:
df4

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
2  12    13   14   15  16
3   5     6    7    8  14

df4

# Deleting Attribute (columns) from df3 DataFrame

In [36]:
df5=df3.drop(columns=["DM"])

In [37]:
df5

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

# Finding Mean Median Mode

In [38]:
#Finding mean of DSS
print("Mean of DSS :",df5["DSS"].mean())

Mean of DSS : 12.5

In [39]:
#Finding median of DSS
print("Median of DSS :",df5["DSS"].median())

Median of DSS : 14.0

In [40]:
#Finding mode of DSS
print("Mode of DSS :",df5["DSS"].mode())

Mode of DSS : 0    14
dtype: int64